{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<div class="row">
  <div class="main">
    <h2>TITLE HEADING</h2>
    <h5>Title description, Dec 7, 2017</h5>
    <div class="fakeimg" style="height:200px;">Image</div>
    <p>Some info about project</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet cumque dicta dolore earum eligendi illum
      incidunt molestias, mollitia odio officia, optio provident quis repellendus similique sit tenetur veniam
      voluptas voluptatum?</p>
  </div>
</div>
{% endblock %}

