<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% include "inc-style.html" %}
</head>
<body>
<div class="navbar">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/input/">Input Form</a>
    <a href="/courses-list/">Курсы</a>
    <a href="/categories-list/">Категории</a>
</div>
{% block content %}{% endblock %}
<div class="footer">
    <a style="color: #333333" href="/">Home</a>
    <a style="color: #333333" href="/about/">About</a>
    <a style="color: #333333" href="/input/">Input Form</a>
    <a style="color: #333333" href="/courses-list/">Курсы</a>
    <a style="color: #333333" href="/categories-list/">Категории</a>
</div>
</body>
</html>