{% extends "base.html" %}
{% block title %}Home{% endblock %}
<!-- The flexible grid (content) -->
{% block content %}
<div class="row">
    <div class="side">
        <h2>About Me</h2>
        <h5>Photo of me:</h5>
        <div class="fakeimg" style="height:200px;">Image</div>
        <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
        <h3>More Text</h3>
        <p>Lorem ipsum dolor sit ame.</p>
        <div class="fakeimg" style="height:60px;">Image</div><br>
        <div class="fakeimg" style="height:60px;">Image</div><br>
        <div class="fakeimg" style="height:60px;">Image</div>
    </div>
    <div class="main">
        <h2>TITLE HEADING</h2>
        <h5>Title description, Dec 7, 2017</h5>
        <div class="fakeimg" style="height:200px;">Image</div>
        <p>Some text..</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet cumque dicta dolore earum eligendi illum
            incidunt molestias, mollitia odio officia, optio provident quis repellendus similique sit tenetur veniam
            voluptas voluptatum?</p>
        <br>
        <h2>TITLE HEADING</h2>
        <h5>Title description, Sep 2, 2017</h5>
        <div class="fakeimg" style="height:200px;">Image</div>
        <p>Some text..</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci eaque eius esse est fuga impedit inventore
            nemo, porro, reiciendis tenetur, totam vero. Commodi cupiditate esse excepturi exercitationem nihil placeat
            qui.</p>
    </div>
</div>
{% endblock %}
