<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <form name="test" method="post">
  <p><b>Ваш email:</b><br>
      <label>
          <input type="text" size="60" name="email">
      </label>
  </p>
  <p><b>Тема сообщения:</b><br>
      <label>
          <input type="text" size="60" name="theme">
      </label>
  </p>
  <p>Сообщение:<Br>
      <label>
          <textarea name="comment" cols="58" rows="3"></textarea>
      </label>
  </p>
  <p><input type="submit" value="Отправить">
   <input type="reset" value="Очистить"></p>
 </form>

 </body>
</html>
