{% extends "base.html" %}
{% block title %}Input Form{% endblock %}
{% block content %}
<div class="container">
    <form name="test" method="post">
        <div class="row">
            <div class="col-25">
                <label for="email">Email</label>
            </div>
            <div class="col-75">
                <input type="text" id="email" name="email" placeholder="Your email">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="theme">Theme</label>
            </div>
            <div class="col-75">
                <input type="text" id="theme" name="theme" placeholder="Theme">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="subject">Text</label>
            </div>
            <div class="col-75">
                <textarea id="subject" name="comment" placeholder="Write something.." style="height:200px"></textarea>
            </div>
        </div>
        <br>
        <div class="row">
            <input type="submit" value="Submit">
        </div>
    </form>
</div>
{% endblock %}